header .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 35% auto -4% auto;
}

.btn-battle{
    background-color: #040404;
    color:white;
    border-radius: none;
    margin: 0 auto;
  }

  body{
    box-sizing: border-box;
  }